.title-nav{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
}
.title1-herosec{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
.title2-herosec, .text-footer{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 2;
}
.text-about{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2;
}
.text-program{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.text-year{
    font-weight: 300;
}
.line-herosec{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.image-herosec{
    height: 50rem;
    object-fit: cover;
}
.line{
    width: 12rem;
    height: 0.125rem;
}
.line-herosec{
    height: 0.125rem; 
}
.salto:before {       
    display: block;       
    content: " ";       
    margin-top: -110px;       
    height: 110px;       
    visibility: hidden; 
}